// Global
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: #cccccc;
    color: #626364;
    line-height: 1.7;
    font-size: 1rem;
}

body,
button {
    font-family: 'Open Sans', sans-serif;
}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

#main {
    margin: 0 auto;
    max-width: 50vw;
    height: auto;
    background-color: #fff;
}

// Header Section
#header {
    color: #fff;
    background-image: url('../../images/header-img.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    max-width: 100%;
    height: 30rem;

    .flex-container-row {
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        margin: 0 50px;
    }


    .logo-container {
        display: flex;
        height: auto;
        align-items: center;
    }


    h6 {
        font-size: 1rem;
    }

    #navbar .nav-link {
        margin: 10px;
        text-decoration: none;
        color: #fff;
    }

    #navbar li {
        display: inline-block;
    }
}

// Intro Section
#intro {
    width: 100%;
    margin: 50px 0;

    .intro-content {
        width: 50%;
        margin: 0 auto 20px;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    p {
        margin-top: 30px;
        width: 100%;
    }
}

// Menu Selection Section(Pizza, Salad, Noodle)

#menu-selection {
    justify-content: center;
    width: 100%;

    .btn-container button {
        cursor: pointer;
        font-size: 1rem;
        padding: 10px 30px;
        margin: 20px;
        border: 1px solid green;
        background-color: #fff;
        color: green;
        outline: none;
        transition: 0.2s ease-in-out;
    }

    .btn-container button:hover {
        background-color: green;
        color: #fff;
    }

    #pizza-btn {
        background-color: green;
        color: #fff;
    }
}

// Menus
#pizza-menu,
#salad-menu,
#noodle-menu {
    h3 {
        color: #1A6692;
        font-weight: 400;
    }

    .grid-container {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card {
        width: 100%;
        padding: 20px;
        text-align: left;
    }

    .card img {
        width: 100%;
    }

    .food-content {
        margin-top: 15px;
    }

    .food-content p:nth-child(3) {
        color: #2F956D;
        font-size: 1.2rem;
    }
}

// Learn More Section
// Footer

// Media Small Device
@media only screen and (max-width: 600px) {
    img {
        overflow: hidden;
    }

    #main {
        max-width: 100vw;
    }

    #header {
        .flex-container-row {
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    #intro {
        .intro-content {
            width: 90%;
        }
    }

    #menu-selection {
        .btn-container button {
            margin: 5px;
        }
    }
}